{% extends "./base.html" %}  
{% load static %}

{% block content %}
<div class='container-fluid' >
    <div class='about-us-hero' >
        <img src={% static 'main/img/about.jpg' %} alt = "" />
        <div class="about-us-hero-text" >

        </div>
    </div>

    <div class="row" >
        <div class="col" >

        </div>
        <div class="col" >

        </div>

    </div>

</div>
<div class="container" >

    <div class="row" >
        <br />
        <br />
        <h3>Who are we</h3>
        <br />
    </div>

    <div class="row" >
        <p>
            Eurofix is a leading industrial construction materials manufacturer
            offering a complete range of solutions specifically developed
            using advanced formulation technology to meet the highest technical requirements.
        </p>
        <br />
        <p>Euroﬁx industries was founded in Istanbul, Turkey in 1997.
            Since then it has expanded its employing operation
            to Kenya employing 243 people.
            Euroﬁx primary area of expertise includes solutions
            for laying tiles, waterprooﬁng, interior and exterior
            ﬁnishing product, ready to use cement for, bricks,
            cabro and other construction materials.
            </p>   
            <br />
            <p>
            In kenya we have a manufacturing facilities in Nairobi and Mombasa and 
            distributors located in strategic locations enabling
            us to provide a highly responsive and quick service
            to our customers. Euroﬁx manufactures all our products
            with same high quality and ensure a consistent
            highperfomance in comformance with International
            Quality Standards.  As a result Eurofix is well appreciated as a symbol of quality and reliability.
            </p>
            <br />
            <p>
                We are committed to better and brighter lives for communities we operate in,
                and the nation at large, by sponsoring free fundis and youth training national wide 
                with a aim of training over 6000 youths and upgrading skills of over 3000 fundis,
                through our Corporate Social Responsibility investments. We believe passionately 
                in taking care of our environment and combating global warming, hence we are on campagn
                to plant over 500,000 trees in kenya, as well as working towards becoming a net zero company.
            </p>



    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4" > 
            <div class=' values-column ' >
                <p class="values-title" >Vision</p>
                <p>To be a global leader in the development of high
                    performance easy-to-use concrete bonding
                    solutions, and other construction solutions</p>
    
            </div>

        </div>
       
        <div class="col-sm-12 col-md-12 col-lg-4">
            <div class=' values-column' >
                <p class="values-title" >Mission</p>
                <p>To offer innovative construction solutions to our
                    customers and being committed to high quality.</p>
    
            </div>

        </div>
        
        <div class="col-sm-12 col-md-12 col-lg-4">
            <div class=' values-column' >
                <p class="values-title" >Core Values</p>
                <p>
                   <b>Customer Satisfaction: </b>  We are dedicated to meeting customer expectations
                </p>
                <p>
                    <b>Excellence:</b> We aim to make products with a constant high quality.
                </p>
                <p>
                    <b>Leadership:</b> Focus to be a leader in our business and market.
                </p>
                <p>
                   <b>Timeliness: </b> We promote timely delivery of high quality products.  
                </p>
                <p>
                    <b>Innovativeness:</b>  We encourage creativity, embrace positive change and reward innovation.  
                </p> 
            </div>
        </div>

    </div>

</div>
<div class="container" >
    <h3>Fundis Skills Upgrade Training</h3>

    <row></row>

</div>

<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Find us</h4>
                            <span>Eastern Bypass, Cannan Rd</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>Call us</h4>
                            <span>0722163791 / 0110000034</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Mail us</h4>
                            <span>sales@eurofiximdustries.com<br/> info@eurofixindustries.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html"><img src={% static 'main/img/LOGO.jpg' %} class="img-fluid" alt="logo"></a>
                        </div>                      
                        <div class="footer-social-icon">
                            <span>Follow us</span>
                            <a href="https://web.facebook.com/Eurofixadhesives/"><i class="fab fa-facebook-f facebook-bg"></i></a>
                            <a href="https://twitter.com/eurofixltd"><i class="fab fa-twitter twitter-bg"></i></a>
                            
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Subscribe</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                        </div>
                        <div class="subscribe-form">
                            <form method="post" action="{% url 'subscription' %}">
                                {% csrf_token %}
                                <input type="email" name="email"" placeholder="Email Address">
                                <button type="submit">Submit<i class="fab fa-telegram-plane"></i></button>
                            </form>

                            {% if messages %}
                                {% for message in messages %}
                                <div class="my-5 alert alert-success">
                                    <h5 class="m-0">
                                        {{ message }}
                                    </h5>
                                </div>
                                {% endfor %}
                            {% endif %}

                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>

{% endblock %}