{% extends "./base.html" %}  
{% load static %}

{% block content %}
    <div class="box">
        <img src = {% static 'main/img/tile-applications.jpg' %} alt="Tile cements">
    </div>

    <div class="container categories-div">
        <h3>{{ category.name }}</h3>
        <div class="row" >

            {% for product in products %}

                <div class="col-sm-12 col-md-4 col-lg-4 contains-card">
                    <div class="card product-card ">
                        <img src="{{ product.image.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href=" /{{product.category.slug}}/{{product.slug}} "> <h5 class="card-title">{{product.name}}</h5> </a>
                            
                            <p class="card-text">{{ product.description|truncatechars:190  }}  <a href=" /{{product.category.slug}}/{{product.slug}} "> Read More </a>
                            </p>


                        </div>
                    </div>
                </div>
            
                {% endfor %}

        </div>
        

    </div>

{% endblock content %}