.categories-div{
    margin-top: 3rem;
    text-align: center;
}
.categories-div h3{
    margin-top: 2rem;
}
.contains-card{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-card{
    width: 70%;
    border: 0px;
    height: 520px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.product-card img{
    text-align: center;
    height: 200px;
    width: 50%;
    border: 3rem 0 ;
    margin-top: 2rem;
}
.card-body  {
    margin-bottom: 1rem;
}


@media screen and (max-width: 840px){
    .product-card{
        width: 100%;
        height: 550px !important ;
        position: relative !important ;
        align-items: center;
        justify-content: center;
    }

    .product-card button{
        bottom: 0;
        position: absolute;
        margin-left: auto;
        right: 22%;
    }
    
}

@media screen and (max-width: 500px){
    .product-card{
        width: 100%;
        height: 450px;
        position: relative;
        margin-bottom: 2rem;
    }

    .product-card img{
        width: 40%;
        height: auto;
    }
}