.gallery-container{
    width: 100%;
    text-align: center;
}
.gallery-input{
    display: none;
}
.h1-gallery{
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 60px 0;
}

.h1-gallery::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: yellow;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite ;
}

@keyframes animate {
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 100px;
    }
}

.top-gallery-content{
    background-color: rgb(243,243,243);
    /* width: 90%; */
    margin: 0 auto 20px auto;
    height: 60px;
    /* display: flex;
    align-items: center; */
    border-radius: 5px;
    box-shadow: 3px 3px 5px light;
}

.h3-gallery{
    margin: 0;
    height: 100%;
    background-color: rgb(230, 230, 230);
    line-height: 70px;
    padding: 0 40px; 
}

.gallery-label{
    display: inline-block;
    height: 100%;
    padding: 0 10px;
    margin: 0 7%;
    line-height: 60px;
    font-size: 18px;
    color: orange;
    cursor: pointer;
    transition: color .5s;
}

.gallery-label:hover{
    color: #af8510;
}

.photo-gallery{
   padding: 0;
   margin: 0;
}

.pic{
    margin-top: 0.9rem;
    margin-left: auto;
    margin-right: auto;
    width: inherit !important;
    position: relative;
    height: 230px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px lightgray;
    cursor: pointer;
    transition: .5s;
}

.pic img{
    height: 100%;
    width: 100% !important;
    max-width: 100%;
}

.pic::before{
    content: "Photo Gallery";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
}

.pic::after{
    content:"";
    position: absolute;
    left: 0;
    bottom: 0;
    width:100%;
    height:0;
    background-color:rgba(0,0,0,.2);
    transition: .3s;
}

.pic:hover::after{
    height:100%;
}

.pic:hover::before{
    margin-top: 0;
    opacity: 1;
}

#check1.checked ~ .gallery-container .photo-gallery .pic{
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}

#check2.checked ~ .gallery-container .photo-gallery .training{
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}

#check2:checked ~ .gallery-container .photo-gallery .works{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: .2s;
}


#check3.checked ~ .gallery-container .photo-gallery .works{
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}
#check3:checked ~ .gallery-container .photo-gallery .training{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: .2s;
}

@media (max-width: 991px)  {
    .h3-gallery{
        display: none;
    }

    .gallery-container h3{
        display: none;

    }

    .h1-gallery{
        font-size: 27px;
        margin: 40px 0;
    }

    .gallery-label{
        padding: 0 6px;
        font-size: 22px;
        color: orange;
        white-space: nowrap ;
    }
}

@media all and (max-width: 500px) {
    .h3-gallery{
        display: none;
    }

    .gallery-container h3{
        display: none;

    }

    .h1-gallery{
        font-size: 20px;
        margin: 40px 0;
    }

    .gallery-label{
        padding: 0 6px;
        font-size: 14px;
        color: orange;
        white-space: nowrap ;
    }

  

 
}